extends layouts/default.jade

block content
  .content-fluid
    div.issues
      h2 Welcome to Issues!
      p Issues are used to track todos, bugs, feature requests, and more. As issues are created, they'll appear here in a searchable and filterable list.
      a(class='btn btn-default' href='https://github.com/') Create an issue.